.features{
  padding: 63px 0 180px;
  background-color: #FAFAFA;
  &__title{
    @include font(36px, 40px, 500);
    text-align: center;
    margin-bottom: 63px;
  }
  &__item{
    text-align: center;
    position: relative;
  }
  &__content{
    width: 293px;
    height: 198px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    text-align: center;
    padding: 33px 30px 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -46%);
    &-title{
      @include font(18px, 22px, bold);
    }
    &-description{
      @include font(12px, 150%, normal);
      margin: 20px 0;
    }
    &-link{
      @include font(12px, 150%, normal);
      color: $pink;
    }
  }
}