.technology{
  padding: 63px 0 104px;
  &__title{
    @include font(36px, 43px, 500);
    text-align: center;
    margin-bottom: 52px;
  }
  &__block{
    position: relative;
    margin-bottom: 13px;
  }
  &__subtitle{
    @include font(100px, 120px, bold);
    color: rgba(16, 16, 16, 0.08);
    text-align: center;
  }
  .technology__img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -90%);
  }
  &__content{
    text-align: center;
    &-title{
      @include font(18px, 22px, bold);
      color: #101010;
      margin-bottom: 10px;
    }
    &-description{
      @include font(12px, 14px, normal);
    }
  }
}